.jumbotron {
  color: white;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.french {
  width: 1800px;
}

.nun {
  text-align: center;
}

.bio {
  font-size: 50px;
}

.keanu {
  margin: auto;
  width: 1600px;
}
